.backtotop{
    position: fixed;
    right: 50px;
    bottom: 50px;
    visibility: hidden;
    opacity: 0;
    i{
        height: 40px;
        width: 40px;
        font-size: 2rem;
        color: #0BBBCC;
        border: 2PX solid #0BBBCC;
        text-align: center;
        line-height: 36px;
        border-radius: 50%;
    }
}
.cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
  }