@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dceleb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
  
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
  
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
  
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none!important;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background-color: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem!important;
}

h2 {
    font-size: 1.6rem!important;
}

h3 {
    font-size: 1.3rem!important;
}

h4 {
    font-size: 0.8rem!important;
}

h5 {
    font-size: 0.77rem!important;
}

small {
    font-size: 0.75rem;
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--color-info-dark);
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

aside {
    height: 100vh;
}
    
aside.top {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}
    
aside .logo {
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
    
aside .logo img {
    width: 200px; 
    height: 200px;
}

aside .close {
    display: none;
}

/*================= SIDEBAR =================*/
aside .sidebar {
    background: white;
    display: flex;
    flex-direction: column;
    height: 60vh;
    position: relative;
    top: 1.4rem;
    border-radius: var(--border-radius-3);
}
    
aside h3 {
    font-weight: 500;
}
    
aside .sidebar a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    align-items: center;
    position: relative;
    gap: 1rem; 
    height: 3.7rem;
    transition: all 300ms ease;
}
    
aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
    margin-bottom: 8px;
}
/*
aside .sidebar a:last-child {
    position: absolute;
    bottom: 10rem;
    width: 100%
}
*/

aside .sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before {
    content: '';
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
}

aside .sidebar .message-count {
    background: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    margin-left: -9px;
    border-radius: var(--border-radius-1);
}

main {
    margin-top: 1.4rem;
}

main .title h1 {
    font-size: 50px!important;
}

main .date {
    display: block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}

main .date input[type="dates"] {
    background: transparent;
    color: var(--color-dark);
}

main .insights {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.6rem;
    width: 100%;
    height: 900px;
}

main .insights > div {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insights > div:hover {
    box-shadow: none;
}

main .insights > div span {
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}

main .insights > div.expenses span {
    background: var(--color-danger);
}

main .insights > div.income span {
    background: var(--color-success)
}

main .insights > div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h3 {
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

main .insights small {
    margin-top: 1.6rem;
    display: block;
}

main .recent-orders {
    margin-top: 2rem;
}

main .recent-orders h2 {
    margin-bottom: 0.8rem;
}

main .recent-orders table {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .recent-orders table:hover {
    box-shadow: none;
}

main table tbody td {
    height: 2.8rem;
    padding: 15px;
    font-size: 15px;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main table thead th {
    height: 2.8rem;
    padding: 15px;
}

main table tbody tr:last-child td {
    border: none;
}

main .recent-orders a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

/*
.right {
    margin-top: 1.4rem;
}
*/

.right .top {
    display: flex;
    margin-top: -5px;
    margin-bottom: -20px;
}

.right .top .profile .info {
    font-size: 15px;
}

.right .top .profile-photo {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.right .top .profile-photo img {
    width: auto;
    height: auto;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover; /* Maintain aspect ratio */
}

/*
.right .top button {
    display: none;
}
*/

.right .theme-toggler {
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right .theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .theme-toggler span.active {
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.right .top .profile {
    display: flex;
    gap: 2rem;
    text-align: right;
}

.right .recent-updates {
    margin-top: 1rem;
}

.right .recent-updates h2 {
    margin-top: 0.8rem;
}

.right .recent-updates .updates {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .recent-updates .updates:hover {
    box-shadow: none;
}

.right .recent-updates .updates .update {
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-container .right {
    margin-right: 20px;
}

.header-container .title h1 {
    font-size: 35px!important;
}

.insights table {
    width: 800px;
    background-color: whitesmoke;
}

.insights table thead tr {
    background-color: lightgray;
    font-size: 20px;
    padding: 10px;
}

.insights .sales table, .expenses table, .incomes table
{
    margin: auto;
    
}

.showall {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
}

.add-data {
    margin-top: 20px;
    margin-bottom: 10px;
}

.add-data input {
    padding: 10px;
    width: 250px;
    font-size: 15px;
}