//color
$color-purple-0: #4e2a84;
$color-pink-0: #ff0e83;
$color-pink-1: #ed6498;
$color-white-0: white;
$color-black-0: #212529;
$color-black-1: black;
$color-black-2: #222;
$color-black-3: rgba(0, 0, 0, 0.61);
$color-gray-0: #c1c1c1;
$color-gray-1: #a9a8a8;
$color-gray-2: rgba(255, 255, 255, 0.5);
$color-overlay: rgba(48, 132, 163, 0.199);
$color-blue-0: #2cbeff;


//letter-spacing
$ls-0:1px;
$ls-1: 2px;

//font-size
$fs-0: 16px;
$fs-1: 0.875rem;
$fs-2: 3rem;
$fs-3: 0.75rem;
$fs-4: 2.3rem;
$fs-5: 3.5rem;
$fs-6: 1.1rem;
$fs-7: 1.5rem;

//font weight
$fw-0: 700;
$fw-1: bold;
$fw-2: 600;
$fw-3: 500;

//margin
$mg-0: 3rem;
$mg-1: 1rem;
$mg-2: 17px;
$mg-3: 50px;
$mg-4: 8px;
$mg-5: 24px;

//padding
$pd-0: 13px;
$pd-1: 32px;
$pd-2: 20px;
$pd-3: 1rem;
$pd-4: 23px;
$pd-5: 70px;
$pd-6: 38px;
$pd-7: 100px;
$pd-8: 50px;
$pd-9: 7px;

//border-radius
$bd-0: 5px;

//line height
$lh-0: 28px;
$lh-1: 40px;