.page_Gallery{
    &.section-padding{
        padding-bottom: 0;
        width: 100%;
        padding-top: 150px;
    }
    .section-info{
        margin-bottom: $mg-6;
    }
    .filters-button-group{
        text-align: center;
        .button{
            line-height: $lh-1;
            border: none;
            background: transparent;
            @include styleText($color-gray-1,$fs-0 - 2,normal);
            letter-spacing: $ls-1 + 1;
            padding: 0;
            margin: 0 $mg-2 - 2;
            &.active,&:hover{
                color: $color-black-2;
            }
        }
    }
    .showcase__content{
        position: relative;
        height: auto;
        margin-top: $mg-3;
        max-width: 100%;
        .showcase__item{
            padding: 0;
            
            &:hover {
               .showcase__info{
                    opacity: 1;
                    .showcase__btn{
                    // top: 40%;
                    transform: translateY(4vw);
                    opacity: 1;
                    }
                    .showcase__des{
                    // bottom: 45%;
                    transform: translateY(-7vw);
                    
                    }
               }
            }
            .showcase__photo{
                position: relative;
                img{
                    max-width: 100%;
                    max-height: 100%;
                }
                .showcase__info{
                    @extend %hover-img;
                    .showcase__btn{
                        position: absolute;
                        top: 0;
                        width: 100%;
                        font-size: $fs-8;
                        text-align: center;
                        a{
                            color: $color-black-2;
                            text-decoration: none;
                            &:hover{
                                color: $color-yellow-0;
                            }
                        }
                        // opacity: 0;
                        transition: all 0.3s;
                    }
                    .showcase__des{
                        position: absolute;
                        bottom: -50px;
                        width: 100%;
                        // opacity: 0;
                        transition: all 0.3s;
                        h4{
                            a{
                            letter-spacing: 4px;
                            @include styleText($color-black-2,$fs-0 -2, $fw-4);
                            line-height: $lh-2;
                            text-decoration: none;
                            // margin-bottom: ;
                            }
                        }
                        p{
                            a{
                                letter-spacing: $ls-1 + 1;
                                line-height: $lh-0 + 2;
                                @include styleText($color-black-2,$fs-0 - 4, $fw-5);
                                text-decoration: none;
                            }
                        }
                        a{
                            color: $color-black-2;
                            &:hover{
                                color: $color-yellow-0;
                            }
                        }
                    }
                }
            }
        }
    }
    // RESPONSIVE
    @media screen and (max-width: 992px) {
        .showcase__item {
            width: 33.3333333%;
        }
    }
    @media screen and (max-width: 800px) {
        .showcase__item {
            width: 50%;
        }
    }
    @media screen and (max-width: 499px) {
        .showcase__item {
            width: 100%;
        }
    }
    @media screen and (min-width: 993px) {
        .showcase__item {
            width: 33.333333333%;
        }
    }
}
.policy{
    width: 70%;
    margin: auto;
    h1{
        font-weight: $fw-1;
        text-align: center;
        font-size: $fs-2;
    }
    h2{
        text-align: left;
        font-weight: $fw-2;
        font-size: $fs-0 - 2;
        margin: 0;
    }
    p{
        text-align: left;
        font-weight: $fw-5;
        font-size: $fs-0 - 3;
        margin: 0;
    }
}