
.service__carousel{
    padding-top: $pd-7;
}
.service__type{
background-image: url(../images/370137209_359379909813006_5991191358063862631_n.jpg);
    .service__list{
        display: flex;
        align-items: center;
        text-align: center;
        width: 50%;
        margin: auto;
        .item__list{
            padding: $pd-6;
            i{
                font-size: $fs-5;
                padding-bottom: $pd-0;
            }
           
        }
    }
    .service__why{
        align-items: center;
        text-align: center;
        .row{
            .col-4{
                padding: $pd-0 0;
                i{
                    font-size: $fs-5;
                }
            }
        }
    }
}