        {{#if styles}}
            {{#each styles}}
                <link rel="stylesheet" href="{{this}}">
            {{/each}}
        {{/if}}

        <!-- Header -->
        <header class="p-3 bg-dark text-white">
            <div class="header-container">
                <div class="search-box">
                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
                    </form>
                </div>

                <div class="title" style="padding-left: 50px;">
                    <h1>SETTINGS</h1>
                </div>
                <!--
                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2">Login</button>
                    <button type="button" class="btn btn-warning">Sign-up</button>
                </div>
                -->

                <div class="right">
                    <div class="top">
                        <div class="profile">
                            <div class="info">
                                <p style="color: white;">Welcome back, <b style="color: yellow;">Quan</b>.</p>
                                <p style="color: white;">Position: <b style="color: cyan;">Manager</b></p>
                            </div>                                <div class="profile-photo">
                                <img src="../../img/avatar.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    
        <!-- Content -->
        <div class="container">
            <aside>
                <div class="top">
                    <div class="logo">
                        <img src="../../img/logo.png">
                    </div>
                    <div class="close">
                        <span class="material-icons-sharp">close</span>
                    </div>
                </div>
                <div class="sidebar" id="sidebar">
                    <a href="/managers/overview">
                        <span class="material-symbols-outlined"> overview </span>
                        <h3>Overview</h3>
                    </a>
                    <a href="/managers/dashboard">
                        <span class="material-icons-sharp">grid_view</span>
                        <h3>Dashboard</h3>
                    </a>
                    <a href="/managers/staffs">
                        <span class="material-symbols-outlined">groups</span>
                        <h3>Staffs</h3>
                    </a>
                    <a href="/managers/customers">
                        <span class="material-icons-sharp">person_outline</span>
                        <h3>Customers</h3>
                    </a>
                    <a href="/managers/notes">
                        <span class="material-symbols-outlined"> format_list_bulleted_add </span>
                        <h3>Notes</h3>
                        <!--
                        <span class="message-count">23</span>
                        -->
                    </a>
                    <a href="/managers/products">
                        <span class="material-icons-sharp">inventory</span>
                        <h3>Products</h3>
                    </a>
                    <a href="/managers/settings" class="active">
                        <span class="material-icons-sharp">settings</span>
                        <h3>Settings</h3>
                    </a>
                </div>
            </aside>

            <main id="dynamic-content">
                <!--
                <div class="date">
                    <input type="date">
                </div>
                -->

                <div class="mt-4">
                    <div class="insights">

                        <div class="expenses">
                            <span class="material-symbols-outlined"> manage_accounts </span>
                            <div class="middle">
                                <div class="left">
                                    <h1 style="margin-top: 10px;">Change information</h1>
                                    <h3>Click this button to change your information: <button style="margin-top: 10px;" type="button" class="btn btn-primary">Click here</button></h3>
                                </div>
                            </div>
                        </div>

                        <div class="income">
                            <span class="material-symbols-outlined"> logout </span>
                            <div class="middle">
                                <div class="left">
                                    <h1 style="margin-top: 10px;">Sign out</h1>
                                    <h3>Click this button to sign out: <button  style="margin-top: 10px;" type="button" class="btn btn-primary">Click here</button></h3>
                                </div>
                            </div>        
                        </div>
                    </div>
                </div>

                <!--
                <div class="recent-orders">
                    <h1>Recent Orders</h1>
                    <table style="margin-top: 20px;">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Product Number</th>
                                <th>Payment</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Quantum Fusion Blender</td>
                                <td>PDQ-7845</td>
                                <td>Credit Card</td>
                                <td><button type="button" class="btn btn-success">Success</button></td>
                                <td>Details</td>
                            </tr>
                            <tr>
                                <td>Solar Eclipse Sunglasses</td>
                                <td>XTR-2098</td>
                                <td>PayPal</td>
                                <td><button type="button" class="btn btn-success">Success</button></td>
                                <td>Details</td>
                            </tr>
                            <tr>
                                <td>Galactic Adventure Backpack</td>
                                <td>ZEN-6012</td>
                                <td>Bitcoin</td>
                                <td><button type="button" class="btn btn-danger">Failure</button></td>
                                <td>Details</td>
                            </tr>
                            <tr>
                                <td>Midnight Serenity Candle</td>
                                <td>LUX-8763</td>
                                <td>Apple Pay</td>
                                <td><button type="button" class="btn btn-success">Success</button></td>
                                <td>Details</td>
                            </tr>
                            <tr>
                                <td>AquaDream Smart Water Bottle</td>
                                <td>NEO-4221</td>
                                <td>Gift Card</td>
                                <td><button type="button" class="btn btn-danger">Failure</button></td>
                                <td>Details</td>
                            </tr>
                                                        <tr>
                                <td>Midnight Serenity Candle</td>
                                <td>LUX-8763</td>
                                <td>Apple Pay</td>
                                <td><button type="button" class="btn btn-success">Success</button></td>
                                <td>Details</td>
                            </tr>
                            <tr>
                                <td>AquaDream Smart Water Bottle</td>
                                <td>NEO-4221</td>
                                <td>Gift Card</td>
                                <td><button type="button" class="btn btn-danger">Failure</button></td>
                                <td>Details</td>
                            </tr>
                                                        <tr>
                                <td>Midnight Serenity Candle</td>
                                <td>LUX-8763</td>
                                <td>Apple Pay</td>
                                <td><button type="button" class="btn btn-success">Success</button></td>
                                <td>Details</td>
                            </tr>
                            <tr>
                                <td>AquaDream Smart Water Bottle</td>
                                <td>NEO-4221</td>
                                <td>Gift Card</td>
                                <td><button type="button" class="btn btn-danger">Failure</button></td>
                                <td>Details</td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="#">Show All</a>
                </div>
                -->
            </main>
            
            <div class="right">
                <div class="top">
                    <!--
                    <button id="menu-btn">
                        <span class="material-icons-sharp">menu</span>
                    </button>
                    -->
                    <!--
                    <div class="theme-toggler">
                        <span class="material-icons-sharp active">light_mode</span>
                        <span class="material-icons-sharp">dark_mode</span>
                    </div>
                    
                    <div class="profile">
                        <div class="info">
                            <p>Welcome back, <b>Quan</b>.</p>
                            <p>Position: <b>Manager</b></p>
                            <button type="button" class="btn btn-secondary">Sign out</button>
                        </div>
                        <div class="profile-photo">
                            <img src="../../img/avatar.jpg">
                        </div>
                    </div>
                    -->
                </div>

                <!--
                <div class="recent-updates">
                    <h2>Recent Updates</h2>
                    <div class="updates">
                        <div class="update">
                            <div class="profile-photo">
                                <img src="../img/avatar.jpg">
                            </div>
                            <div class="message">
                                <p><b>Sussy Boy</b> just ordered Sussy AmongUs meal.</p>
                                <small class="text-muted">2 minutes ago.</small>
                            </div>
                        </div>
                        <div class="update">
                            <div class="profile-photo">
                                <img src="../img/avatar.jpg">
                            </div>
                            <div class="message">
                                <p><b>Sussy Boy</b> just ordered Sussy AmongUs meal.</p>
                                <small class="text-muted">2 minutes ago.</small>
                            </div>
                        </div>
                        <div class="update">
                            <div class="profile-photo">
                                <img src="../img/avatar.jpg">
                            </div>
                            <div class="message">
                                <p><b>Sussy Boy</b> just ordered Sussy AmongUs meal.</p>
                                <small class="text-muted">2 minutes ago.</small>
                            </div>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>