h2{
    font-size: $fs-2;
    font-weight: $fw-0;
    margin-bottom: $mg-0;
    text-align: center;
    letter-spacing: $ls-1;
}
html{
    font-size: $fs-0;
    scroll-behavior: smooth;
}
@keyframes upDown{
    /* 100s */
    0%{}
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}