        {{#if styles}}
            {{#each styles}}
                <link rel="stylesheet" href="{{this}}">
            {{/each}}
        {{/if}}

        <!-- Header -->
        <header class="p-3 bg-dark text-white">
            <div class="header-container">
                <div class="search-box">
                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
                    </form>
                </div>

                <div class="title" style="padding-left: 50px;">
                    <h1>SETTINGS</h1>
                </div>
                <!--
                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2">Login</button>
                    <button type="button" class="btn btn-warning">Sign-up</button>
                </div>
                -->

                <div class="right">
                    <div class="top">
                        <div class="profile">
                            <div class="info">
                                <p style="color: white;">Welcome back, <b style="color: yellow;">Quan</b>.</p>
                                <p style="color: white;">Position: <b style="color: cyan;">Employee</b></p>
                            </div>                                <div class="profile-photo">
                                <img src="../../img/avatar.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    
        <!-- Content -->
        <div class="container">
            <aside>
                <div class="top">
                    <div class="logo">
                        <img src="../../img/logo.png">
                    </div>
                    <div class="close">
                        <span class="material-icons-sharp">close</span>
                    </div>
                </div>
                <div class="sidebar" id="sidebar">
                    <a href="/employees/overview">
                        <span class="material-symbols-outlined"> overview </span>
                        <h3>Overview</h3>
                    </a>
                    <a href="/employees/dashboard">
                        <span class="material-icons-sharp">grid_view</span>
                        <h3>Dashboard</h3>
                    </a>
                    <a href="/employees/orders">
                        <span class="material-symbols-outlined"> list_alt </span>
                        <h3>New Orders</h3>
                        <span class="message-count">{{countRow orders}}</span>
                    </a>
                    <a href="/employees/notes">
                        <span class="material-symbols-outlined"> format_list_bulleted_add </span>
                        <h3>To-Do Lists</h3>
                        <!--
                        <span class="message-count">23</span>
                        -->
                    </a>
                    <a href="/employees/products">
                        <span class="material-icons-sharp">inventory</span>
                        <h3>Products</h3>
                    </a>
                    <a href="/employees/settings" class="active">
                        <span class="material-icons-sharp">settings</span>
                        <h3>Settings</h3>
                    </a>
                </div>
            </aside>

            <main id="dynamic-content">
                <!--
                <div class="date">
                    <input type="date">
                </div>
                -->

                <div class="mt-4">
                    <div class="insights">

                        <!--
                        <div class="expenses">
                            <span class="material-symbols-outlined"> manage_accounts </span>
                            <div class="middle">
                                <div class="left">
                                    <h1 style="margin-top: 10px;">Change information</h1>
                                    <h3>Click this button to change your information: <button style="margin-top: 10px;" type="button" class="btn btn-primary">Click here</button></h3>
                                </div>
                            </div>
                        </div>
                        -->

                        <div class="income" style="height: 220px;">
                            <span class="material-symbols-outlined"> logout </span>
                            <div class="middle">
                                <div class="left">
                                    <h1 style="margin-top: 10px;">Sign out</h1>
                                    <h3>Click this button to sign out: <button  style="margin-top: 10px;" type="button" class="btn btn-primary">Click here</button></h3>
                                </div>
                            </div>        
                        </div>
                    </div>
                </div> 
            </main>
            
            <div class="right">
                <div class="top">
                </div>
            </div>
        </div>