.button-pink{
    background-color: $color-pink-0;
    border: 1px solid $color-white-0;
    color: $color-white-0;

    font-size: $fs-1;
    border-radius: $bd-0;
    padding: $pd-0 $pd-1;
    cursor: pointer;
    letter-spacing: $ls-0;

    transition: all 0.5s;
    &:hover{
        background-color: $color-white-0;
        color: $color-black-1;
        border-color: $color-pink-0;
        box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
        transform: translateY(-0.6em);
    }
}