<!-- HEADER  -->
  <header class="contact_header">
    <nav class="navbar navbar-expand-lg navbarGaNam">
        <div class="container header__content">
            <img style="width: 50px; height: 50px; margin-right: 20px;" src="../../img/logo.png">
            <a class="navbar-brand logo" href="home">GÀ NẤM</a> 
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#GaNamNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navigation" id="GaNamNav">
                <ul style="font-size: 20px;" class="navbar-nav ms-auto ">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="home">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="services">SERVICES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="gallery">GALLERY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact">CONTACT</a>
                    </li>
                    {{#if isLoggedIn}}
                    <li class="nav-item">
                        <a class="nav-link active" href="#">{{csw_name}}</a>
                    </li>
                    <li class="nav-item">
                        <a href="shoppingcart">
                          <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                      </i>
                    </li>
                    <li class="nav-item">
                      <button class="btnLogin-popup" onclick="window.location.href='/logout'">LOGOUT</button>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <button class="btnLogin-popup" onclick="window.location.href='login'">LOGIN</button>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
</header>
    <!-- LOGIN -->
    <div class="wrapper container d-flex">
        <span class="icon-close">
          <ion-icon name="close"></ion-icon>
        </span>
    
        <div class="form-box login">
          <h2>Login</h2>
          <form action="#">
            <div class="input-box">
              <span class="icon"><ion-icon name="mail"></ion-icon></span>
              <input type="email" required>
              <label>Email</label>
            </div>
    
            <div class="input-box">
              <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
              <input type="password" required>
              <label>Password</label>
            </div>
    
            <div class="remember-forgot">
              <label><input type="checkbox">Remember me</label>
              <a href="#">Forgot Password?</a>
            </div>
            <button type="submit" class="btn">Login</button>
            <div class="login-register">
              <p>Don't have an account? <a href="#" class="register-link">Register</a></p>
            </div>
          </form>
        </div>
    
        <div class="form-box register">
          <h2>Registration</h2>
          <form action="#">
            <div class="input-box">
              <span class="icon"><ion-icon name="person"></ion-icon></span>
              <input type="text" required>
              <label>Username</label>
            </div>
            <div class="input-box">
              <span class="icon"><ion-icon name="mail"></ion-icon></span>
              <input type="email" required>
              <label>Email</label>
            </div>
    
            <div class="input-box">
              <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
              <input type="password" required>
              <label>Password</label>
            </div>
    
            <div class="remember-forgot">
              <label><input type="checkbox">I agree to the terms & conditions</label>
            </div>
            <button type="submit" class="btn">Register</button>
            <div class="login-register">
              <p>Already have an account? <a href="#" class="login-link">Login</a></p>
            </div>
          </form>
        </div>
    </div>

    <!-- CONTACT -->
    <section class="contact" id="contact">
        <h2>CONTACT</h2>
        <div class="contact__form container">
            <div>
                <form class="row" action="">
                    <input class="col-6 g-2" type="text" name="" id="" placeholder="Name">
                    <input class="col-6 g-2" type="text" placeholder="Last Name">
                    <input class="col-6 g-2" type="email" name="" id="" placeholder="Email">
                    <input class="col-6 g-2" type="tel" name="" id="" placeholder="Phone">
                    <textarea class="col-12 gy-2" name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
                    <button class="gy-2 button-pink" type="submit">Send</button>
                </form>
            </div>
        </div>
        <div class="contact__map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.397043949722!2d106.61869841167713!3d10.780871689323831!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752c1b113b9605%3A0x5241b1bb53abb66c!2zMjEzIEzDqiBDYW8gTMOjbmcsIFBow7ogVGjhuqFuaCwgVMOibiBQaMO6LCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1688815979375!5m2!1sen!2s"
                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="contact__info container">
            <div class="row">
                <div class="contact__item col-4">
                    <i class="fa fa-home"></i>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="contact__item col-4">
                    <i class="fa fa-phone"></i>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="contact__item col-4">
                    <i class="fa fa-envelope-open"></i>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- POLICY -->
    <section class="policy">
        <h1>POLICY</h1>
        <div class="policy__text1">
            <h2>PURPOSE AND SCOPE OF CUSTOMER INFORMATION COLLECTION</h2>
            <p>Purpose of collection: GaNam only collects customer information for the purpose of receiving, responding
                to comments and answering customer questions related to ABC Bakery's products and services, and
                understanding customer information, customers' wishes and desires to improve product and service
                quality, ensuring full benefits for customers.</p>
            <p>Scope of collection: During the process of receiving, responding to comments and answering questions for
                customers, abcbakery.co only collects information provided by customers including: contact name, email,
                contact content.</p>
        </div>
        <div class="policy__text2">
            <h2>SCOPE OF INFORMATION USE:</h2>
            <p>Website abcbakery.co only uses customer information to provide feedback and answer customer questions
                about ABC bakery's products and services.</p>
            <p>ABC Bakery does not use, transfer, provide or disclose to third parties users' personal information
                without prior consent.</p>
            <p>In case there is a request from a competent state agency related to a violation, abcbakery.co is
                responsible for cooperating in providing customer personal information.</p>
        </div>
        <div class="policy__text3">
            <h2>INFORMATION STORAGE PERIOD</h2>
            <p>Personal information provided by customers will be kept confidential on abcbakery.co's server until
                cancellation is requested by the customer via email contact@abcbakery.co or via customer care
                (028)38520857- ext: 1604</p>
        </div>
        <div class="policy__text4">
            <h2>PEOPLE OR ORGANIZATIONS WHO MAY HAVE ACCESS TO CUSTOMER INFORMATION:</h2>
            <p>Consumers agree that, in case of necessity, the following agencies/organizations/individuals have the
                right to access and collect their personal information, including:
            </p>
            <p> Board</p>
            <p> At the request of a competent state agency</p>
        </div>
        <div class="policy__text5">
            <h2>ADDRESS OF THE INFORMATION COLLECTION AND MANAGEMENT UNIT, including contact methods so consumers can
                inquire about the collection and processing of personal information related to them:</h2>
            <p>Address of the unit that collects and manages personal information
            </p>
            <p> Asia Confectionery One Member Company Limited</p>
            <p> Office address: 1175A, 3/2 Street, Ward 6, District 11, City. Ho Chi Minh, Vietnam</p>
        </div>
        <div class="policy__text6">
            <h2>Contact method for customers to ask about the collection and processing of personal information related
                to them</h2>
            <p>Contact customer service (028)38520857- ext: 1604
            </p>
            <p> Via email: contact@abcbakery.co</p>
        </div>
        <div class="policy__text6">
            <h2>MEANS AND TOOLS FOR USERS TO ACCESS AND EDIT PERSONAL DATA:</h2>
            <p>The website does not allow online transactions and has no online transaction function. Therefore, the
                website abcbakery.co does not require users to register/log in to an account.
                We only store customer information including name, contact email and the content the customer wants to
                communicate. In addition, the website does not require customers to provide any other information.
                The person contacting abcbakery.co will be solely responsible for the accuracy of the information they
                provide. When there is a need to access and edit personal information, users can contact via ABC
                Bakery's information shown on the website in the "Contact" section. Users cannot check, update, adjust
                or cancel personal information themselves
            </p>
        </div>
        <h2>Mechanism to receive and resolve consumer complaints related to personal information being used for the
            wrong purpose or scope as notified.</h2>
        <div class="policy__text7">
            <p>Users' personal information on abcbakery.co is committed to absolute confidentiality according to
                abcbakery.co's personal information protection policy.</p>
            <p>The collection and use of each user's information is only carried out with that customer's consent,
                unless otherwise prescribed by law.</p>
            <p>In the event that the information server is attacked by hackers resulting in the loss of member personal
                data, ABC Bakery will be responsible for reporting the incident to the investigating authorities for
                timely handling and notification to users. known use.</p>
            <p>Users are responsible for promptly notifying the abcbakery.co website of any illegal use or misuse of
                information to take appropriate measures.</p>
            <p>We commit to all sharing and use of customer information in accordance with the company's privacy policy
                and the provisions of Vietnamese Law. ABC Bakery is committed to making you feel confident and satisfied
                about the security of personal information when cooperating with the company.</p>
        </div>
    </section>
    <!-- FOOTER  -->
    <footer>
        <div class="footer__main row">
            <div class="footer__item col-3">
                <h3>About Us</h3>
                <p>Welcome to your neighborhood bakery café.</p>
                <p>Where smiles are served daily
                  Enjoy delicious pastries, warm breads, stunning cakes and expertly brewed drinks while feeling right at home.</p>
                <div class="footer__social">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-google-plus-g"></i>
                    <i class="fab fa-twitter"></i>
                </div>
    
            </div>
            <div class="footer__item col-3">
                <h3>Working Time</h3>
                <div class="footer__time">
                    <p>Monday</p>
                    <p>9h30 - 18h30</p>
                </div>
                <div class="footer__time">
                    <p>Tuesday</p>
                    <p>9h30 - 18h30</p>
                </div>
                <div class="footer__time">
                    <p>Wednesday</p>
                    <p>9h30 - 18h30</p>
                </div>
                <div class="footer__time">
                    <p>Thursday</p>
                    <p>9h30 - 18h30</p>
                </div>
                <div class="footer__time">
                    <p>Friday</p>
                    <p>9h30 - 18h30</p>
                </div>
                <div class="footer__time">
                    <p>Saturday</p>
                    <p>9h30 - 18h30</p>
                </div>
                <div class="footer__time">
                    <p>Sunday</p>
                    <p>9h30 - 18h30</p>
                </div>
            </div>
            <div class="footer__item col-3">
                <h3>Twitter Us</h3>
                <p>Masters at Work</p>
                <p>Community is at our Core</p>
                <p>Happy to see you. </p>
                <p>Happier to serve you.</p>
            </div>
            <div class="footer__item col-3">
                <h3>SUBSCRIBE US</h3>
                <form class="footer__sub">
                    <input type="email" name="" id="" placeholder="name@example">
                    <button class="button-pink" type="submit">Send</button>
                </form>
                <p>Thank you for your interest in reaching out to us! Fill out the feedback form and a member of our team will be in touch soon.</p>
            </div>
        </div>
        <div class="footer__copyright">
            <p> Copyright &copy; 2023 <span>Gà Nấm Cake Shop</span>. All rights reserved.</p>
        </div>
      </footer>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous">
        </script>
    <!-- Jquery Waypoint  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
    <!-- BS5 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
        </script>

    <!-- CountUP JS  -->
    <script>
        $('.counter').countUp();
    </script>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: false,
            autoplay: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 1
                }
            }
        })
    </script>