<section>
    <div class="wrapper">
        <span class="icon-close">
            <ion-icon name="close" onclick="window.location.href='/home'"></ion-icon>
        </span>
        <div class="button-active" style="display: none;">
            <span class="icon-close2 login-link">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </span>
        </div>
        <div class="form-box login">
            <div class="form-value">
                <!-- <a href="home"><span class="material-symbols-outlined" style="color: white;">arrow_back</span></a> -->
                <form action="/login/loginSubmit" method="POST">
                    <h2>User Login</h2>

                    <div class="inputbox">
                        <input type="username" id="username" name="username" required>
                        <span class="icon"><ion-icon name="person"></ion-icon></span>
                        <label>Username</label>
                    </div>

                    <div class="inputbox">
                        <input type="password" id="password" name="password" class="password" required>
                        <span class="icon"><ion-icon name="eye-off" id="changeLogo" onclick="myFunction()"></ion-icon></span>
                        <label>Password</label>
                    </div>

                    <div class="remember-forgot">
                        <label><input type="checkbox">Remember me</label>
                        <a href="#">Forgot Password?</a>
                    </div>

                    <button type="submit" name="submit">Login</button>

                    <div class="registerBtn">
                        <p>Don't have an account? <a href="#" class="register-link">Click here</a></p>
                    </div>
                </form>
            </div>
        </div>
        <div class="form-box register">
            <div class="form-value">
                <h2>Registration</h2>
                <form action="/login/registerSubmit" method="POST">
                    <!-- Left Section -->
                    <div class="left-section">
                        <div class="inputbox">
                            <span class="icon"><ion-icon name="person-circle"></ion-icon></span>
                            <input type="text" id="fullname" name="fullname" required>
                            <label>Full Name</label>
                        </div>

                        <div class="inputbox">
                            <span class="icon"><ion-icon name="call"></ion-icon></span>
                            <input type="text" id="phonenumber" name="phonenumber" required>
                            <label>Phone Number</label>
                        </div>
                        <div class="inputbox">
                            <span class="icon"><ion-icon name="transgender"></ion-icon></span>
                            <input type="text" id="gender" name="gender" placeholder="Type &quot;Male&quot; or &quot;Female&quot;." maxlength="6" required>
                            <label>Gender</label>
                        </div>

                        <div class="inputbox">
                            <span class="icon"><ion-icon name="person"></ion-icon></span>
                            <input type="username" id="user" name="user" required>
                            <label>Username</label>
                        </div>

                        <div class="inputbox">
                            <span class="icon"><ion-icon name="mail"></ion-icon></span>
                            <input type="email" id="email" name="email" required>
                            <label>Email</label>
                        </div>

                        <div class="inputbox">
                            <span class="icon"><ion-icon id="changeLogo2" name="eye-off" onclick="myFunction2()"></ion-icon></span>
                            <input type="password" id="pass" name="pass" required>
                            <label>Password</label>
                        </div>
                    </div>

                    <!-- Right Section
                    <div class="right-section">
                        <div class="inputbox">
                            <span class="icon"><ion-icon name="person"></ion-icon></span>
                            <input type="username" id="username" name="username" required>
                            <label>Username</label>
                        </div>

                        <div class="inputbox">
                            <span class="icon"><ion-icon name="mail"></ion-icon></span>
                            <input type="email" id="email" name="email" required>
                            <label>Email</label>
                        </div>

                        <div class="inputbox">
                            <span class="icon"><ion-icon name="eye"></ion-icon></span>
                            <input type="password" id="password" name="password" class="password" required>
                            <label>Password</label>
                        </div>
                    </div>
                    -->

                    <div class="remember-forgot">
                        <label><input type="checkbox" id="termsCheckbox">I agree to the Terms and Conditions.</label>
                    </div>

                    <button type="submit" class="submit" onclick="validateForm()">Register</button>

                    <!--
                    <div class="registerBtn">
                        <p>Already have an account? <a href="#" class="login-link">Login</a></p>
                    </div>
                    -->
                </form>
            </div>
        </div>
    </section>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/js/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script>
        function myFunction() {
            var x = document.getElementById("password");
            var changeLogo = document.getElementById("changeLogo")

            if (x.type === "password") {
                x.type = "text";
                changeLogo.setAttribute('name', 'eye');
            } else {
                x.type = "password";
                changeLogo.setAttribute('name', 'eye-off');
            }
        }
        function myFunction2() {
            var x = document.getElementById("pass");
            var changeLogo = document.getElementById("changeLogo2")

            if (x.type === "password") {
                x.type = "text";
                changeLogo.setAttribute('name', 'eye');
            } else {
                x.type = "password";
                changeLogo.setAttribute('name', 'eye-off');
            }
        }
        function validateForm() {
            // Get the value from the gender input
            var genderValue = document.getElementById('gender').value.trim();

            // Check if the value is either "Male" or "Female"
            if (genderValue !== 'Male' && genderValue !== 'Female') {
                // If not valid, show an alert and prevent form submission
                alert('Please enter a valid gender (Male or Female).');
                event.preventDefault(); // Added line to prevent submission
            } else {
                var termsCheckbox = document.getElementById('termsCheckbox');
                if (termsCheckbox.checked) {
                    document.getElementById('myForm').submit();
                } else {
                    alert('Please agree to the Terms and Conditions.');
                    event.preventDefault();
                }
            }
        }
    </script>