<section>
        <div class="form-box">
            <div class="form-value">
                <a href="home"><span class="material-symbols-outlined" style="color: white;">arrow_back</span></a>
                <form action="" method="POST">
                    <h2>User Login</h2>

                    <div class="inputbox">
                        <input type="username" id="username" name="username" placeholder=" " required>
                        <label>Username</label>
                    </div>

                    <div class="inputbox">
                        <input type="password" id="password" name="password" placeholder=" " required>
                        <label>Password</label>
                    </div>

                    <button type="submit" name="submit">Login</button>

                    <div class="register">
                        <p>Don't have an account? <a href="#">Click here</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>