<!-- HEADER  -->
  <header class="contact_header">
    <nav class="navbar navbar-expand-lg navbarGaNam">
        <div class="container header__content">
            <a class="navbar-brand logo" href="#">GÀ NẤM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#GaNamNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navigation" id="GaNamNav">
                <ul class="navbar-nav ms-auto ">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="home">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="services">SERVICES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="gallery">GALLERY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="contact">CONTACT</a>
                    </li>
                    <li class="nav-item">
                        <button class="btnLogin-popup" onclick="window.location.href='login'">LOGIN</button>
                    </li>
                    <li class="nav-item">
                      
                        <a href="shoppingcart">
                          <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                      </i>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

    <!-- CART  -->
    <div class="container cart">
        <div class="cart_menu">
            <p class="text sp">Sản phẩm</p>
            <p class="text dg">Đơn giá</p>
            <p class="text sl">Số lượng</p>
            <p class="text st">Số tiền</p>
            <p class="text tt">Thao tác</p>
        </div>
        <section class="cart_content">
            <section class="cart_item" role="list">
                <div class="product_name" role="listitem">
                    <div class="sanPham">
                        <div class="ten_hinh">
                            <div class="ten_hinh_item"><a title="Dior Ốp Điện Thoại"
                                    href="/Dior-Ốp-Điện-Thoại-Cho-iphone-15-pro-max-14-pro-max-i14-plus-13-pro-max-i13-13pro-11-pro-max-i11-x-xr-xs-max-7-plus-8-plus-12-pro-max-i.539626931.25301924501?xptdk=2fb5dd8a-80b1-401b-bb14-bb82ac2caa89"><img
                                        class="ten_hinh_img"
                                        src="https://down-vn.img.susercontent.com/file/cn-11134207-7r98o-loicu8573dcq33"
                                        alt="product image"></a>
                                <div class="ten_hinh_text">
                                    <a class=""
                                        title="Dior Ốp Điện Thoại Cho iphone 15 pro max 14 pro max i14 plus 13 pro max i13 13pro 11 pro max i11 x xr xs max 7 plus 8 plus 12 pro max"
                                        href="/Dior-Ốp-Điện-Thoại-Cho-iphone-15-pro-max-14-pro-max-i14-plus-13-pro-max-i13-13pro-11-pro-max-i11-x-xr-xs-max-7-plus-8-plus-12-pro-max-i.539626931.25301924501?xptdk=2fb5dd8a-80b1-401b-bb14-bb82ac2caa89">Dior
                                        Ốp Điện Thoại</a>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="content_donGia">
                            <div>
                                <span class="donGia_text">₫36.080</span>
                            </div>
                        </div>
                        <div class="content_soLuong">
                            <div class="add_minus">
                                <input class="EOdsa- v3H4Zf" type="text" role="spinbutton" aria-valuenow="1" value="1">
                            </div>
                        </div>
                        <div class="content_soTien">
                            <span>₫36.080</span>
                        </div>
                        <div class="content_thaoTac">
                            <button class="fX1Y2g button-pink">Xóa</button>
                        </div>
                    </div>
                </div>
                <div class="product_name" role="listitem">
                    <div class="sanPham">
                        <div class="ten_hinh">
                            <div class="ten_hinh_item"><a title="Dior Ốp Điện Thoại"
                                    href="/Dior-Ốp-Điện-Thoại-Cho-iphone-15-pro-max-14-pro-max-i14-plus-13-pro-max-i13-13pro-11-pro-max-i11-x-xr-xs-max-7-plus-8-plus-12-pro-max-i.539626931.25301924501?xptdk=dff2d190-ae3b-472e-9c7a-520ee267eae7"><img
                                        class="ten_hinh_img"
                                        src="https://down-vn.img.susercontent.com/file/cn-11134207-7r98o-loicu8573dcq33"
                                        alt="product image"></a>
                                <div class="ten_hinh_text">
                                    <a class="" title="Dior Ốp Điện Thoại"
                                        href="/Dior-Ốp-Điện-Thoại-Cho-iphone-15-pro-max-14-pro-max-i14-plus-13-pro-max-i13-13pro-11-pro-max-i11-x-xr-xs-max-7-plus-8-plus-12-pro-max-i.539626931.25301924501?xptdk=dff2d190-ae3b-472e-9c7a-520ee267eae7">Dior
                                        Ốp Điện Thoại</a>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="content_donGia">
                            <div>
                                <span class="donGia_text">₫36.080</span></div>
                        </div>
                        <div class="content_soLuong">
                            <div class="add_minus">
                                <input class="EOdsa- v3H4Zf" type="text" role="spinbutton" aria-valuenow="1" value="1">
                            </div>
                        </div>
                        <div class="content_soTien">
                            <span>₫36.080</span>
                        </div>
                        <div class="content_thaoTac">
                            <button class="fX1Y2g button-pink">Xóa</button>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <section class="cart_total">
            <div class="s1Gxkq">
                <div class="UQv8V6" role="region">
                    <div class="fyYBP1">
                        <div class="aiyQAr">
                            <div class="A-CcKC">Tổng thanh toán (2 Sản phẩm):</div>
                            <div class="total">₫72.160</div>
                        </div>
                    </div>
                </div><button class="button-pink"><span class="TTXpRG">Mua
                        hàng</span></button>
            </div>
        </section>
    </div>
</body>

</html>