.showcase{
    padding: $pd-5 0;
    .section-info{

    }
    .filters-button-group{
        text-align: center;
        .button{
            line-height: $lh-1;
            border: none;
            background: transparent;
            @include styleText($color-gray-1,$fs-0 - 1, normal);
            letter-spacing: $ls-1 + 1;
            padding: 0;
            margin: 0 $mg-2 - 2;
            &.active, &:hover{
                color: $color-black-2;
            }
        }
    }
    .showcase__content{
        position: relative;
        height: auto;
        margin-top: $mg-3;
        .showcase__item{
            padding: 0;
            .showcase__photo{
                position: relative;
                img{
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
    }

    // RESPONSIVE
    @media screen and (max-width: 992px) {
        .showcase__item {
            width: 33.3333333%;
        }
    }
    @media screen and (max-width: 800px) {
        .showcase__item {
            width: 50%;
        }
    }
    @media screen and (max-width: 499px) {
        .showcase__item {
            width: 100%;
        }
    }
    @media screen and (min-width: 993px) {
        .showcase__item {
            width: 24.98%;
        }
    }
}