.cover{
    background-image: url(../img/b3.jpg);
    height: 800px;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}
.services{
    background-image: url(../img/s1.jpg);
    background-size: cover;
    text-align: center;
    padding: $pd-5 0;
}
.feedback{
    background-image: url(../img/cc1.jpg);
    background-size: cover;
    padding: $pd-5 0;
}