.feedback{
    h2{
        color: $color-white-0;
    }
    .feedback__content{
        width: 75%;
        margin: 0 auto;
        border: 2px solid $color-pink-0;
        background-color: $color-gray-2;
        text-align: center;
        padding: $pd-1;
        i{
            color: $color-blue-0;
            font-size: $fs-6 + 0.2;
            padding: 0 $pd-2 - 2;
        }
        p{
            letter-spacing: $ls-0 + 0.3;
            line-height: $lh-0 + 2;
            font-weight: $fw-0;
        }
        .feedback__name{
            color: $color-white-0;
        }
        .feedback .owl-theme .owl-dots .owl-dot span {
            background-color: rgba(0, 0, 0, 0.507);
        }
        .feedback .owl-theme .owl-dots .owl-dot.active span{
            background-color: black;
        }
    }
}