.number{
    padding: $pd-5 0;
    .number__content{
        display: flex;
        justify-content: space-around;
        text-align: center;
        width: 70%;
        margin: 0 auto;
        .number__item{
            p{
                &:first-of-type{
                    font-size: $fs-2 - 1;
                    color: $color-purple-0;
                    font-weight: $fw-2;
                }
                &:last-of-type{
                    font-size: $fs-7 - 0.1;
                    font-weight: $fw-0;
                    letter-spacing: $ls-1 + 2;
                    padding: $pd-4 + 1 0;
                }
            }
        }
    }
}