.Carousel{
    // .carousel-indicators{
    //     // h1{
    //     //     font-size: $fs-5;
    //     // }
    //     // p{
    //     //     font-size: $fs-6;
    //     //     padding: $pd-4;
    //     // }
    //     // .button{
    //     //     &:hover{
    //     //         animation: upDown 1s linear 0s infinite ;
    //     //     }
    //     // }
    // }
    .carousel-inner{
        .carousel-item{
            img{
                max-height: 800px;
            }
            .carousel-caption{
                top: 55%;
                left: 50%;;
                transform: translate(-50%,-50%);
                h1{
                    font-size: 52px;
                }
                p{
                    letter-spacing: 4px;
                    line-height: 1.8em;
                    width: 70%;
                    margin: 0 auto;
                    margin-bottom: 25px;
                    font-weight: 300;
                    color: $color-white-0;
                }
                .carousel-first{
                    color: $color-black-0;
                }
                .carousel-second{
                    color: $color-purple-0;
                }
    
            }
        }
    }
}
#carouselCyber {
    .carousel-caption{
    top: 55%;
    left: 50%;
    color: black;
    transform: translate(-50%,-50%);
    h1{
        font-size: 52px;
    }
    p{
        letter-spacing: 4px;
    line-height: 1.8em;

    width: 70%;
    margin: 0 auto;

    margin-bottom: 25px;
    }
    button{
    a{
    padding: 11px 20px;
    color: white;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    }
    border: 1px solid white;
    border-radius: 0;
    transition: all .5s;
    &:hover{
    background-color: #ff4f81;
    border-color: #ff4f81;
    }
    }
    }
}
