header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #4E2A84;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    .logo{
        font-size: 2em;
        color: #fff;
        user-select: none;
    }
    
    .navigation{
        a{
            position: relative;
            font-size: 0.8em;
            color: #fff;
            text-decoration: none;
            font-weight: 700;
            margin-left: 40px;
            &::after{
                content: '';
                position: absolute;
                left: 0;
                bottom: -6px;
                width: 100%;
                height: 3px;
                background: #FF0C83;
                 border-radius: 5px;
                transform-origin: right;
                transform: scaleX(0);
            }
            &:hover::after{
                transform-origin: left;
                transform: scaleX(1);
                transition: transform .5s;
            }
        }
        .btnLogin-popup{
            width: 120px;
            height: 45px;
            background: #FF0C83;
            border: 2px solid #fff;
            outline: none;
            border-radius: 6px;
            cursor: pointer;
            font-size: 0.9em;
            color: #fff;
            font-weight: 600;
            margin-left: 40px;
            transition: .5s;
            &:hover{
                background: #fff;
                border: 2px solid #FF0C83;
                color: #4E2A84;
            }
        }
        .nav-item{
            .active{
            color: $color-pink-0;
            }
            i{
                font-size: $fs-4;
            }
        }
    }
    // .navbarGaNam{
    //     margin: 0;
    //     padding: 0;
    // }
    // .header__content{
    //     padding: $pd-2;
    //     margin: 0 auto;
    //     .navbar-brand{
    //         color: $color-white-0;
    //         font-size: $fs-4;
    //         font-weight: $fw-1;
    //     }
    //     .navbar-nav{
    //         list-style: none;
    //         .nav-item{
    //             font-size: $fs-3;
    //             font-weight: $fw-0;
    //             letter-spacing: $ls-1;
    //             padding: 0 $pd-3;
    //             .nav-link{
    //                 text-decoration: none;
    //                 color: $color-white-0;
    //                 transition: all 0.5s;
    //                 &:hover{
    //                     color: $color-pink-0;
    //                 }
    //             }
    //             .active{
    //                 color: $color-pink-0;
    //             }
    //         }
    //     }
    // }
}