        {{#if styles}}
            {{#each styles}}
                <link rel="stylesheet" href="{{this}}">
            {{/each}}
        {{/if}}
                
        <!-- Header -->
        <!--
        <header class="p-3 bg-dark text-white">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <img src="img/logo.png" style="width: 50px; height: 50px;" onclick="window.location.reload()">
                
                    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
                    </a>
            
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
                        <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
                        <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                        <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                        <li><a href="#" class="nav-link px-2 text-white">About</a></li>
                    </ul>
            
                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
                    </form>
            
                    <div class="text-end">
                        <button type="button" class="btn btn-outline-light me-2">Login</button>
                        <button type="button" class="btn btn-warning">Sign-up</button>
                    </div>
                </div>
            </div>
        </header>
        -->

        <!-- Content -->
        <div class="container">
            <aside>
                <div class="top">
                    <div class="logo">
                        <img src="../img/logo.png" style="width: 50px; height: 50px;">
                    </div>
                    <div class="close">
                        <span class="material-icons-sharp">close</span>
                    </div>
                </div>
                <div class="sidebar">
                    <a href="#">
                        <span class="material-icons-sharp">grid_view</span>
                        <h3>Dashboard</h3>
                    </a>
                    <a href="#" class="active">
                        <span class="material-icons-sharp">person_outline</span>
                        <h3>Customers</h3>
                    </a>
                    <a href="#">
                        <span class="material-icons-sharp">receipt_long</span>
                        <h3>Orders</h3>
                    </a>
                    <a href="#">
                        <span class="material-icons-sharp">insights</span>
                        <h3>Analytics</h3>
                    </a>
                    <a href="#">
                        <span class="material-icons-sharp">mail_outline</span>
                        <h3>Messages</h3>
                        <span class="message-count">23</span>
                    </a>
                    <a href="#">
                        <span class="material-icons-sharp">inventory</span>
                        <h3>Products</h3>
                    </a>
                    <a href="#">
                        <span class="material-icons-sharp">report_gmailerrorred</span>
                        <h3>Reports</h3>
                    </a>
                    <a href="#">
                        <span class="material-icons-sharp">settings</span>
                        <h3>Settings</h3>
                    </a>
                    <a href="#">
                        <span class="material-icons-sharp">add</span>
                        <h3>Add Product</h3>
                    </a>
                    <a href="#">
                        <span class="material-icons-sharp">logout</span>
                        <h3>Logout</h3>
                    </a>
                </div>
            </aside>

            <main>
                <h1>Dashboard</h1>

                <div class="date">
                    <input type="date">
                </div>

                <div class="insights">
                    <div class="sales">
                        <span class="material-icons-sharp">analytics</span>
                        <div class="middle">
                            <div class="left">
                                <h3>Total Sales</h3>
                                <h1>$25,024</h1>
                            </div>
                            <div class="progress">
                                <svg>
                                    <circle cx="38" cy="38" r="36"></circle>
                                </svg>
                                <div class="number">
                                    <p>81%</p>
                                </div>
                            </div>
                        </div>
                        <small class="text-muted">Last 24 Hours</small>
                    </div>

                    <div class="expenses">
                        <span class="material-icons-sharp">bar_chart</span>
                        <div class="middle">
                            <div class="left">
                                <h3>Total Sales</h3>
                                <h1>$25,024</h1>
                            </div>
                            <div class="progress">
                                <svg>
                                    <circle cx="38" cy="38" r="36"></circle>
                                </svg>
                                <div class="number">
                                    <p>81%</p>
                                </div>
                            </div>
                        </div>
                        <small class="text-muted">Last 24 Hours</small>
                    </div>

                    <div class="income">
                        <span class="material-icons-sharp">stacked_line_chart</span>
                        <div class="middle">
                            <div class="left">
                                <h3>Total Sales</h3>
                                <h1>$25,024</h1>
                            </div>
                            <div class="progress">
                                <svg>
                                    <circle cx="38" cy="38" r="36"></circle>
                                </svg>
                                <div class="number">
                                    <p>81%</p>
                                </div>
                            </div>
                        </div>
                        <small class="text-muted">Last 24 Hours</small>
                    </div>
                </div>

                <div class="recent-orders">
                    <h1>Recent Orders</h1>
                    <table style="margin-top: 20px;">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Product Number</th>
                                <th>Payment</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Quantum Fusion Blender</td>
                                <td>PDQ-7845</td>
                                <td>Credit Card</td>
                                <td><button type="button" class="btn btn-success">Success</button></td>
                                <td>Details</td>
                            </tr>
                            <tr>
                                <td>Solar Eclipse Sunglasses</td>
                                <td>XTR-2098</td>
                                <td>PayPal</td>
                                <td><button type="button" class="btn btn-success">Success</button></td>
                                <td>Details</td>
                            </tr>
                            <tr>
                                <td>Galactic Adventure Backpack</td>
                                <td>ZEN-6012</td>
                                <td>Bitcoin</td>
                                <td><button type="button" class="btn btn-danger">Failure</button></td>
                                <td>Details</td>
                            </tr>
                            <tr>
                                <td>Midnight Serenity Candle</td>
                                <td>LUX-8763</td>
                                <td>Apple Pay</td>
                                <td><button type="button" class="btn btn-success">Success</button></td>
                                <td>Details</td>
                            </tr>
                            <tr>
                                <td>AquaDream Smart Water Bottle</td>
                                <td>NEO-4221</td>
                                <td>Gift Card</td>
                                <td><button type="button" class="btn btn-danger">Failure</button></td>
                                <td>Details</td>
                            </tr>
                                                        <tr>
                                <td>Midnight Serenity Candle</td>
                                <td>LUX-8763</td>
                                <td>Apple Pay</td>
                                <td><button type="button" class="btn btn-success">Success</button></td>
                                <td>Details</td>
                            </tr>
                            <tr>
                                <td>AquaDream Smart Water Bottle</td>
                                <td>NEO-4221</td>
                                <td>Gift Card</td>
                                <td><button type="button" class="btn btn-danger">Failure</button></td>
                                <td>Details</td>
                            </tr>
                                                        <tr>
                                <td>Midnight Serenity Candle</td>
                                <td>LUX-8763</td>
                                <td>Apple Pay</td>
                                <td><button type="button" class="btn btn-success">Success</button></td>
                                <td>Details</td>
                            </tr>
                            <tr>
                                <td>AquaDream Smart Water Bottle</td>
                                <td>NEO-4221</td>
                                <td>Gift Card</td>
                                <td><button type="button" class="btn btn-danger">Failure</button></td>
                                <td>Details</td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="#">Show All</a>
                </div>
            </main>
            
            <div class="right">
                <div class="top">
                    <button id="menu-btn">
                        <span class="material-icons-sharp">menu</span>
                    </button>
                    <div class="theme-toggler">
                        <span class="material-icons-sharp active">light_mode</span>
                        <span class="material-icons-sharp">dark_mode</span>
                    </div>
                    <div class="profile">
                        <div class="info">
                            <p>Hey, <b>Quan</b>.</p>
                            <small class="text-muted"><b>Admin</b></small>
                        </div>
                        <div class="profile-photo">
                            <img src="../img/avatar.jpg">
                        </div>
                    </div>
                </div>

                <div class="recent-updates">
                    <h2>Recent Updates</h2>
                    <div class="updates">
                        <div class="update">
                            <div class="profile-photo">
                                <img src="../img/avatar.jpg">
                            </div>
                            <div class="message">
                                <p><b>Sussy Boy</b> just ordered Sussy AmongUs meal.</p>
                                <small class="text-muted">2 minutes ago.</small>
                            </div>
                        </div>
                        <div class="update">
                            <div class="profile-photo">
                                <img src="../img/avatar.jpg">
                            </div>
                            <div class="message">
                                <p><b>Sussy Boy</b> just ordered Sussy AmongUs meal.</p>
                                <small class="text-muted">2 minutes ago.</small>
                            </div>
                        </div>
                        <div class="update">
                            <div class="profile-photo">
                                <img src="../img/avatar.jpg">
                            </div>
                            <div class="message">
                                <p><b>Sussy Boy</b> just ordered Sussy AmongUs meal.</p>
                                <small class="text-muted">2 minutes ago.</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>