@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    
    background: url('/img/loginBackground.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.wrapper .icon-close2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    overflow: hidden;
    /* transform: scale(0); */
    transition: transform .4s ease, height .2s ease;
}

/*
.wrapper.active-popup {
    transform: scale(1);
}
*/
  
.wrapper.active {
    height: 750px;
}

.wrapper.active input {
    margin-top: -5px;
    margin-bottom: -5px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}
  
.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}
  
.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
  
.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
    top: -5px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active { 
    -webkit-background-clip: text;
    -webkit-text-fill-color: black;
    transition: background-color 5000s ease-in-out 0s;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: black;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    margin: -15px 0 15px ;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;  
}

.forget label input{
    margin-right: 3px;
    
}
.forget label a{
    color: #fff;
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.registerBtn {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.registerBtn p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.registerBtn p a:hover {
    text-decoration: underline;
}

.remember-forgot {
    font-size: .9em;
    color: white;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
  
.remember-forgot label input{
    accent-color: white;
    margin-right: 3px;
}
  
.remember-forgot a {
    color: white;
    text-decoration: none;
}
  
.remember-forgot a:hover {
    text-decoration: underline;
}

/* Left, Right (Split form)
.split-form {
    display: flex;
}

.left-section,
.right-section {
    flex: 1;
    padding: 0 10px;
    box-sizing: border-box;
}
*/

/*
.short-input {
    width: calc(100% - 100px);
}

.gender-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: -15px;
    margin-top: 15px;
    color: white;
}

.gender-checkbox input {
    width: 20px;
    height: 20px;
}
*/

input::placeholder {
    /* Initially hide the placeholder */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
input:focus::placeholder {
    /* Show the placeholder on focus */
    opacity: 1;
}